<!-- _includes/work_experience.liquid -->
<h2 id="work-experience">Work Experience</h2>
<div class="work-experience-section">
  <div class="work-item">
    <h3>AI Researcher</h3>
    <p class="work-company"><a href="https://www.sait.samsung.co.kr/saithome/main/main.do">Samsung AI Center</a>, Suwon, South Korea</p>
  </div>
  
  <div class="work-item">
    <h3>Research Intern</h3>
    <p class="work-company">KETI (Korea Electronics Technology Institute)</p>
  </div>
</div>
